<h1>Booking for <%= link_to( @play.name, play_path(@play)) %></h1>

<%= form_for([@play, @booking]) do |f| %>
  <%= render 'shared/errors', object: @booking %>
<fieldset>
    <ol>
      <li>
        <%= f.label :how_heard %>
        <%= f.select :how_heard, Booking::HOW_HEARD_OPTIONS, prompt: "Pick one" %>
      </li>
    </ol>
  <p>
     <%= f.submit %>
    <%= link_to "Cancel", plays_path %>
  </p>
</fieldset>
<% end %>