<!DOCTYPE html>
<html>
  <head>
    <title>SaigonPlays</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #eeeeee">
  <div style="max-width: 1000px; margin-left:auto; margin-right:auto; background-color: white; padding-top: 50px; padding-bottom: 200px; padding-left: 20px; padding-right:20px">
    <p>
      <%= flash[:notice] %>
    </p>
    <%= yield %>
  </div>
  </body>
</html>
